  .image-container{
    width: 100%;
    background-image: url("/public/img/keyboard-4759502_1920.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    
  }
.write-effect{
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  font-family: "Courier New";
  background-color: rgba(0, 0, 0, 0.7);
  border-right: 1.5rem solid white;
  animation: blink 1s steps(1) infinite;
  width: 0;
overflow: hidden;
white-space: nowrap;
animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;

}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.write-container{
  width: 38vw;
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.about-button{
  font-size: 2rem;
  font-weight: bold;
  width: 300px;
  cursor:pointer;
  background-color:rgba(0, 0, 0, 0.526);
  color:whitesmoke;
  margin:0 auto;
  border-radius: 8px;
  border:none;
}

.about-button:hover{
  scale: 1.1;
  transition: 0.3s;
  background-color: rgb(4,45,130);
}