.nav {
  height: 100px;
  width: 100%;
  background-color: rgba(19, 20, 23, 0.8);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  align-items: center;
}
ul{
  list-style-type: none;
}
h1 {
  color: whitesmoke;
  font-size: 3rem;
}
button {
  height: 80px;
}

.button-container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 8px;
}
nav {
  position: fixed;
  top:0

}

nav a:hover{
  transition: 0.3s;
  background-color:rgb(4,45,130);
}